/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.entryForm {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  width: 50%;
  margin: 0 auto;
}
.entryForm label {
  margin: 15px 0;
}
.entryForm input,
.entryForm textarea {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  font-size: 18px;
  outline-color: violet;
}
.entryForm input:focus,
.entryForm textarea:focus {
  box-shadow: 3px 3px 6px violet;
}
.entryForm textarea {
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  resize: none;
}
.entryForm .afficherMDP {
  display: flex;
  align-items: center;
}
.entryForm .afficherMDP input {
  margin-right: 20px;
}
.entryForm .afficherMDP .dnone {
  display: none;
}
.entryForm .afficherMDP .fa-regular {
  cursor: pointer;
}
.entryForm button,
.entryForm .buttonEntryForm {
  min-height: 40px;
  border-radius: 5px;
  margin: 50px 0;
  font-size: 20px;
  box-shadow: 0px 0px 2px 2px violet;
  transition: all 1.5s;
  position: relative;
  cursor: pointer;
}
.entryForm button:before,
.entryForm .buttonEntryForm:before {
  content: "";
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 0px;
  background-color: rgb(116, 4, 116);
  z-index: -1;
  top: 0;
  left: 0;
  transition: all 1s;
}
.entryForm button:after,
.entryForm .buttonEntryForm:after {
  content: "";
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 0px;
  background-color: rgb(116, 4, 116);
  z-index: -1;
  top: 0;
  right: 0;
  transition: all 1s;
}
.entryForm button:hover,
.entryForm .buttonEntryForm:hover {
  box-shadow: 0px 0px 10px 10px violet;
  color: #f1f1f1;
  z-index: 2;
}
.entryForm button:hover:before,
.entryForm .buttonEntryForm:hover:before {
  width: 50%;
}
.entryForm button:hover:after,
.entryForm .buttonEntryForm:hover:after {
  width: 50%;
}

.btn_inactif {
  pointer-events: none;
  opacity: 0.5;
}
.btn_inactif:after {
  display: none;
}
.btn_inactif:before {
  display: none;
}

.dnone {
  display: none;
}

.dnone {
  display: none;
}

.midFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.midPos {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.midMargin {
  margin: 0 auto;
}

header {
  width: 100%;
  max-width: 1920px;
  background-color: #c4c4c4;
  margin: 0 auto;
  z-index: 10;
}

.compensation-header {
  width: 100%;
  height: 94px;
  background-color: transparent;
}
@media (max-width: 999px) {
  .compensation-header {
    height: 70px;
  }
}

.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 1920px;
  display: flex;
  align-items: center;
  padding: 3px 2vw;
  background-color: #c4c4c4;
  box-shadow: inset 0px -3px 2px #888;
}
.navigation .nav-icon {
  font-size: clamp(18px, 16px + 1.33vw, 38px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation .nav-icon h3 {
  margin-left: 10px;
  color: #111;
}
.navigation .nav-icon i {
  color: #111;
}
.navigation .hamburger {
  display: none;
}
.navigation .nav-auth {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.navigation .nav-auth i {
  font-size: clamp(20px, 20px + 1.5vw, 40px);
  margin: 24px 0;
  color: #111;
}
.navigation .nav-auth p {
  font-size: 14px;
  transform: scaleY(0);
  border: 1px solid #111;
  padding: 3px 7px;
  border-radius: 5px;
  background-color: #eee;
  box-shadow: 1px 1px 2px #111;
  transition: transform 0.3s ease-out;
}
.navigation .nav-auth:hover p {
  transform: scaleY(1);
}
.navigation .nav-auth img {
  width: clamp(30px, 30px + 3vw, 60px);
  height: clamp(30px, 30px + 3vw, 60px);
  border-radius: 50%;
}
.navigation .navlinks-container a {
  margin: 0 10px;
  margin-left: 3vw;
  font-size: clamp(15px, 10px + 1vw, 30px);
  text-decoration: none;
  color: #111;
  display: inline-block;
  position: relative;
}
.navigation .navlinks-container a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -3px;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  transform-origin: left;
  background: #111;
  transition: transform 0.3s ease-out;
}
.navigation .navlinks-container a:hover::after {
  transform: scaleX(1);
}
@media (max-width: 999px) {
  .navigation .navigation {
    position: relative;
    padding: 5px 1.25vw;
  }
  .navigation .nav-icon {
    order: 2;
    margin-left: auto;
  }
  .navigation .nav-auth {
    order: 3;
  }
  .navigation .nav-auth i {
    font-size: 40px;
    margin: 12px 0;
  }
  .navigation .nav-auth img {
    width: 60px;
    height: 60px;
  }
  .navigation .nav-auth p {
    display: none;
  }
  .navigation .hamburger {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: none;
    display: flex;
    background-color: #c4c4c4;
    align-items: center;
    position: relative;
  }
  .navigation .hamburger span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #111;
    position: absolute;
    pointer-events: none;
    transition: opacity 0.3s 0.15s ease-out;
  }
  .navigation .hamburger span:nth-child(1) {
    transform: translateY(-7px);
    transition: transform 0.3s 0.15s ease-out;
  }
  .navigation .hamburger span:nth-child(3) {
    transform: translateY(7px);
    transition: transform 0.3s 0.15s ease-out;
  }
  .navigation .hamburger.open span:nth-child(1) {
    transform: translate(0) rotate(135deg);
  }
  .navigation .hamburger.open span:nth-child(2) {
    opacity: 0;
    transition: opacity 0s ease-out;
  }
  .navigation .hamburger.open span:nth-child(3) {
    transform: translate(0) rotate(-135deg);
  }
  .navigation .navlinks-container {
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    background-color: #f1f1f1;
    top: 100%;
    left: 0;
    height: 100vh;
    width: 25vw;
    border-right: 3px solid #999;
    box-shadow: 2px 0px 4px #999;
    padding: 15px 30px 0px 10px;
    transform: translateX(-105%);
    transition: transform 0.5s ease-out;
  }
  .navigation .navlinks-container a {
    font-size: 16px;
    margin: 10px 10px;
  }
  .navigation .open {
    transform: translateX(0%);
  }
}

.nav-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(17, 17, 17, 0.6);
}

footer {
  background-color: #f1f1f1;
  font-size: 18px;
  color: #333;
  width: 100%;
  height: 40px;
}
footer a {
  font-weight: bold;
}

.animTitres {
  flex-grow: 1;
  width: 90%;
  margin: 25px auto;
}
.animTitres h1 {
  font-size: clamp(20px, 20px + 1vw, 40px);
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 10px;
  font-weight: bold;
  color: violet;
  margin: 20px 0 50px;
  cursor: pointer;
}
.animTitres h2 {
  text-align: center;
  font-size: 25px;
  color: yellowgreen;
  text-decoration: underline;
  margin: 30px 0;
}
.animTitres h2 a {
  color: yellowgreen;
}
.animTitres h2 i {
  font-size: 25px;
  margin: 0 20px;
}

.alert {
  width: 80%;
  height: 60px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  font-size: 18px;
  border: 2px solid #f1f1f1;
  border-radius: 10px;
  color: #333;
  text-align: center;
  padding: 5px 0;
  visibility: 1;
}

.rouge {
  background-color: rgb(243, 48, 87);
}

.orange {
  background-color: rgb(255, 150, 14);
}

.vert {
  background-color: greenyellow;
}

.dnone {
  display: none;
}

.form_entry_form {
  width: 100%;
}

.creationContainer .test {
  width: 100px;
  height: 100px;
  background-color: #fff;
}

.loginContainer a {
  color: #f1f1f1;
  text-decoration: underline;
  display: block;
  text-align: center;
}

.profilContainer i {
  cursor: pointer;
}
.profilContainer .imgProfil {
  width: 100%;
  margin: 20px auto;
}
.profilContainer .imgProfil img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 40px;
}
.profilContainer .formPsw {
  margin-top: 20px;
  margin-bottom: 20px;
}
.profilContainer .btn_disable {
  pointer-events: none;
  background-color: #c4c4c4;
  box-shadow: none;
  opacity: 0.5;
}
.profilContainer .btn_info {
  background-color: rgb(245, 75, 75);
  box-shadow: 0px 0px 0px red;
  font-size: 16px;
  pointer-events: none;
  margin: 10px 0;
}
.profilContainer .btn_info:after {
  display: none;
}
.profilContainer .btn_info:before {
  display: none;
}
.profilContainer #btn_suppression_compte {
  cursor: pointer;
}
.profilContainer .btn_suppression {
  background-color: rgb(245, 75, 75);
  box-shadow: 0px 0px 0px red;
}
.profilContainer .btn_suppression:after {
  display: none;
}
.profilContainer .btn_suppression:before {
  display: none;
}
.profilContainer .btn_suppression:hover {
  box-shadow: 0px 0px 0px red;
  color: black;
}
.profilContainer .card_profil {
  width: 90vw;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  background: linear-gradient(315deg, rgba(255, 255, 255, 0.5333333333) 0%, rgba(255, 255, 255, 0.0196078431) 100%);
  box-shadow: 2px 2px 4px #f1f1f1;
  margin-bottom: 150px;
}
.profilContainer .overlay_img_site {
  background-color: rgba(85, 85, 85, 0.3333333333);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
}
.profilContainer .images_site {
  border: 3px solid black;
  background-color: rgba(51, 51, 51, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 90vw;
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.profilContainer .images_site .image_site {
  margin: 10px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}
.profilContainer .dnone {
  display: none;
  transition: all 1s;
}

.droitsContainer table {
  width: 80%;
  text-align: center;
  color: #f1f1f1;
  margin: 10px auto;
}
.droitsContainer th,
.droitsContainer td,
.droitsContainer tr {
  padding: 15px;
  border: 1px solid #f1f1f1;
}

.listeContainer {
  position: relative;
}
.listeContainer .menuDeroulantListe {
  display: block;
  margin: 15px auto;
  text-align: center;
}
.listeContainer table {
  width: 90%;
  max-width: 1500px;
  margin: 0 auto;
}
.listeContainer tr,
.listeContainer td,
.listeContainer th {
  border: 1px solid #f1f1f1;
  text-align: center;
}
.listeContainer tr .elementFait,
.listeContainer td .elementFait,
.listeContainer th .elementFait {
  color: #eee;
  text-decoration: line-through;
  text-align: right;
  padding: 0 15px;
}
.listeContainer tr .elementAFaire,
.listeContainer td .elementAFaire,
.listeContainer th .elementAFaire {
  color: white;
  text-align: left;
  padding: 0 15px;
}
.listeContainer th:nth-child(1),
.listeContainer th:nth-child(3),
.listeContainer th:nth-child(4),
.listeContainer th:nth-child(5) {
  width: 10%;
}
.listeContainer th {
  padding: 10px;
}
.listeContainer td {
  padding: 7px;
}
.listeContainer button {
  background-color: transparent;
  color: #f1f1f1;
  border: none;
}

.modifElementListeModale, .ajouterElementListe {
  position: absolute;
  width: 80%;
  min-height: 120px;
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(241, 241, 241, 0.6);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  border-top: none;
  border-left: none;
  color: black;
  z-index: 10;
}
.modifElementListeModale h3, .ajouterElementListe h3 {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin: 10px;
}

.overlayElementListeModale, .overlayAjouterElementListeModale {
  position: fixed;
  background-color: rgba(85, 85, 85, 0.3333333333);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.fermerModale {
  position: absolute;
  font-size: 40px;
  border: 1px solid #f1f1f1;
  border-radius: 50%;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  background-color: crimson;
  overflow: hidden;
  cursor: pointer;
}

.iconeAjouterElementListe {
  text-align: center;
  font-size: 40px;
  color: yellowgreen;
  cursor: pointer;
}

.ajouterElementListeModale h3 {
  text-align: center;
  margin: 15px;
}

.annulerElementsFaits {
  display: flex;
  justify-content: center;
  align-items: center;
}
.annulerElementsFaits a {
  font-size: 40px;
  color: crimson;
  margin-top: 30px;
  cursor: pointer;
}

body {
  background-color: #333;
  color: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.dnone {
  display: none;
}/*# sourceMappingURL=style.css.map */