.listeContainer {
  position: relative;

  .menuDeroulantListe {
    display: block;
    margin: 15px auto;
    text-align: center;
  }

  table {
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
  }

  tr,
  td,
  th {
    border: 1px solid $blanc1;
    text-align: center;

    .elementFait {
      color: #eee;
      text-decoration: line-through;
      text-align: right;
      padding: 0 15px;
    }
    .elementAFaire {
      color: white;
      text-align: left;
      padding: 0 15px;
    }
  }

  th:nth-child(1),
  th:nth-child(3),
  th:nth-child(4),
  th:nth-child(5) {
    width: 10%;
  }

  th {
    padding: 10px;
  }

  td {
    padding: 7px;
  }

  button {
    background-color: transparent;
    color: $blanc1;
    border: none;
  }

}
.modifElementListeModale {
  position: absolute;
  width: 80%;
  min-height: 150px;
  border: 1px solid $blanc1;
  border-radius: 10px;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f1f1f199;
  backdrop-filter: blur(1px);
  border-top: none;
  border-left: none;
  color: black;
  z-index: 10;

  h3{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin: 10px;
  }

}
.overlayElementListeModale {
  position: fixed;
  background-color: #55555555;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
