.animTitres {
  // pour que le contenu prenne tout la page et qu'on ait le footer toujours en bas
  // flex-grow:1 lui demande de prendre toute la place restante même si pas assez de contenu
  flex-grow: 1;

  width: 90%;
  margin: 25px auto;

  h1 {
    font-size: clamp(20px, calc(20px + 1vw), 40px);
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    font-weight: bold;
    color: violet;
    margin: 20px 0 50px;
    cursor: pointer;
  }

  h2 {
    text-align: center;
    font-size: 25px;
    color: yellowgreen;
    text-decoration: underline;
    margin: 30px 0;
    a {
      color: yellowgreen;
    }
    i {
      font-size: 25px;
      margin: 0 20px;
    }
  }
}
